* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100%;
}

body {
    min-height:100%;
    background: linear-gradient(#0F2027, #203A43, #2C5364);
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:6rem 1rem;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-text {
    color: #eee;
    margin-left: 2rem;
}

.header h1 {
    font-family: 'Lobster Two', sans-serif;
    font-size: 3.8rem;
    color: #05c0e8;
    text-shadow: 1px 1px 2px #000;
    user-select: none;
}

.header h2 {
    font-size: 2rem;
    font-weight: normal;
    user-select: none;
}

.header__details {
    margin-top: 3rem;
}

.container {
    padding: 0 1.5rem;
    min-height: 45vh;
}

.detail {
    display: flex;
    align-items: center;
    color: #efefef;
    font-weight: bold;
    font-size: 1.6rem;
}

.detail img {
    width: 3rem;
}

.detail span {
    margin-left: .5rem;
}

.header__portrait {
    display: block;
    width: 15rem;
    border-radius: 90%;
    filter: drop-shadow(.2rem .5rem .5rem #000);
}

.header__link-btns {
    margin-top: 4rem;
    display: flex;
    align-items: center;
}

.link-btn,
.link-btn:link,
.link-btn:visited {
    background: #ead40e;
    border-radius: .5rem;
    color: #203A43;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: .8rem 1rem;
    font-weight: bold;
    cursor: pointer;
}

.link-btn span {
    margin-left: .5rem;
}

.link-btn:not(:last-child) {
    margin-right:2rem;
}

.accordion {
    max-width: 120rem;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.accordion:last-child {
    padding-bottom: 5rem;
}

.accordion__header {
    color: #fefefe;
    border-bottom: 1px solid #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion__body {
    display:none;
}

.accordion__body.show {
    display:block;
}

.accordion__header h3 {
    font-size: 1.8rem;
    font-weight: normal;
}

.accordion__toggle {
    background: transparent;
    color: #fdfdfd;
    font-family: inherit;
    border:none;
    cursor: pointer;
}

.tile {
    background: rgba(255,255,255,.5);
    margin:1.5rem 0;
    padding: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tile h4 {
    font-size: 1.8rem;
}

.tile h5 {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.tile h5.dates {
    margin: .8rem 0;
}

.date-range {
    color: #333;
}

.accordion__body.flex-body {
    display: none;
    flex-wrap: wrap;
}

.accordion__body.flex-body.show {
    display: flex;
}

.chip {
    background: rgba(255,255,255,.5);
    margin: 1rem .8rem;
    padding: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size: 1.6rem;
    border-radius: 3rem;

}

.footer {
    background: #000;
    color: #ededed;
    text-align: center;
    font-size: 1.4rem;
    padding: 2rem;
    min-height: 20vh;
}


@media (max-width: 700px) {

    .header__logo {
        flex-direction: column;
    }

    .header__logo-text {
        margin-left: 0;
        margin-top: 1rem;
    }

}